# Data Science Tools and Ecosystem

## Author: DuongNguyen

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives: <b>
    
- List popular languages for Data Science
- Examples of evaluating arithmetic expressions in Python

 Some of the popular languages that Data Scientists use are:

<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

| Data Science Tools | 
|:------------------:|
|    RStudio         |
|    Apache Spark    |
|    TensorFlow      |

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335